<div class="main py-8 bg-gray-50 min-h-screen" style="background: linear-gradient(to right, #E88AB3, #F0D9FF);">
   
    <h1>
        Hospitals
    </h1>
    <section>
        <div class="centerbox">
            <h2>
                Post general information here for nurses to view
            </h2>
            <br>
            <p> 
                Here hospitals can post their information and contracts available for nurses to find. 
            </p>
        </div>
    </section>
    
    <div class="content max-w-6xl mx-auto">
        <div class="search-section bg-white p-4 rounded-lg shadow-md">
            <div class="flex flex-wrap gap-4 mb-4">
                <input type="text" id="searchBox" placeholder="Hospital Name/Id..." class="flex-grow p-2 border rounded" (input)="searchHospital()">
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Search</button>
                <select name="cityFilter" id="cityFilter" class="flex-grow p-2 border rounded" (change)="searchHospital()">
                    <option value="">Select City</option>
                    <option value="batonRouge">Baton Rouge</option>
                    <option value="lafayette">Lafayette</option>
                    <option value="morganCity">Morgan City</option>
                    <option value="newOrleans">New Orleans</option>
                </select>
                <select name="deptFilter" id="deptFilter" class="flex-grow p-2 border rounded" (change)="searchHospital()">
                    <option value="">Select Department</option>
                    <option value="anesthesiology">Anesthesiology</option>
                    <option value="cardiology">Cardiology</option>
                    <option value="emergency">Emergency</option>
                    <option value="surgery">Surgery</option>
                    <option value="pediatrics">Pediatrics</option>
                    <option value="oncology">Oncology</option>
                </select>
            </div>
        </div>
        
        <div class="search-results bg-white shadow overflow-hidden rounded-lg mt-4">
            <table class="min-w-full divide-y divide-gray-200">
                <thead class="bg-purple-500 text-white">
                    <tr>
                        <th class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider">Name</th>
                        <th class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider">Location</th>
                        <th class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider">Depts. Hiring</th>
                        <th class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider"># of Contracts</th>
                        <th class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider">More Info</th>
                    </tr>
                </thead>
                <tbody class="bg-white divide-y divide-gray-200">
                    <tr *ngFor="let hospital of hospitalArray">
                        <td class="px-6 py-4 whitespace-nowrap">{{ hospital.hospitalName }}</td>
                        <td class="px-6 py-4 whitespace-nowrap">{{ hospital.city }}</td>
                        <td class="px-6 py-4 whitespace-nowrap">{{ hospital.deptsHiring }}</td>
                        <td class="px-6 py-4 whitespace-nowrap">{{ hospital.numberOfContracts }}</td>
                        <td class="px-6 py-4 whitespace-nowrap">
                            <button (click)="showMoreInfo(hospital)" class="text-indigo-600 hover:text-indigo-900 focus:outline-none">More Info</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <button *ngIf="isHospital()" class="mt-4 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded shadow" routerLink="/hospital-form">Add Hospital</button>
        </div>
    </div>

    <div class="sidebar fixed inset-y-0 right-0 w-64 bg-white shadow-lg transform transition-transform duration-300"
    [class.translate-x-full]="!showSidebar" [class.translate-x-0]="showSidebar">
    <div class="p-4">
        <h3 class="text-lg font-semibold text-gray-800">More Hospital Info</h3>
        <ul class="mt-4">
            <li class="py-2 border-b border-gray-300">Hospital ID: {{ selectedHospital?.hospitalId }}</li>
            <li class="py-2 border-b border-gray-300">Hospital Name: {{ selectedHospital?.hospitalName }}</li>
            <li class="py-2 border-b border-gray-300">Detailed Address: {{ selectedHospital?.hospitalAddress }}</li>
            <li class="py-2 border-b border-gray-300">Contact Info: {{ selectedHospital?.hospitalEmail }}</li>
            <li class="py-2 border-b border-gray-300">Contract Count: {{ selectedHospital?.numberOfContracts }}</li>
            <li class="py-2 border-b border-gray-300">Depts. Hiring: {{ selectedHospital?.deptsHiring }}</li>
            <li class="py-2 border-b border-gray-300">Top Reviews: {{ selectedHospital?.topReviews }}</li>
            <li class="flex justify-between items-center py-2">
                <!-- <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-4 rounded"
            (click)="editHospital(selectedHospital?.id)">Edit Hospital</button> -->

            <a *ngIf="selectedHospital !== null && selectedHospital !== undefined" [routerLink]="'/editHospital/' + selectedHospital?.hospitalId" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-4 rounded">Edit</a>

                <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-1 px-4 rounded"
                    (click)="deleteHospital()">Delete Hospital</button>
            </li>
            <li class="py-2">
                <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-1 px-4 rounded"
                    (click)="leaveReview()">Leave a Review</button>
            </li>
        </ul>
        <button class="absolute top-4 right-4 text-gray-600 hover:text-gray-900" (click)="showSidebar = false">
            <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M6 18L18 6M6 6l12 12" />
            </svg>
        </button>
    </div>
</div>

</div>


<!-- <div class="main py-8 bg-gray-50 min-h-screen">
    <div class="content max-w-6xl mx-auto">
        <div class="search-section bg-white p-4 rounded-lg shadow-md">
            <div class="flex flex-wrap gap-4 mb-4">
                <input type="text" id="searchBox" placeholder="Hospital Name..." class="flex-grow p-2 border rounded" (input)="searchHospital()">
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Search</button>
                <select name="professionFilter" id="professionFilter" class="flex-grow p-2 border rounded" (change)="searchHospital()">
                    <option value="">Select Profession</option>
                    <option value="rn">Registered Nurse</option>
                    <option value="lpn">Licensed Practical Nurse</option>
                    <option value="correctional nurse">Correctional Nurse</option>
                    <option value="family nurse practitioner">Family Nurse Practitioner</option>
                </select>
                <select name="specialtyFilter" id="specialtyFilter" class="flex-grow p-2 border rounded" (change)="searchHospital()">
                    <option value="">Select Specialty</option>
                    <option value="icu">ICU</option>
                    <option value="er">ER</option>
                    <option value="hospice care nurse">Hospice Care Nurse</option>
                </select>
                <select name="statusFilter" id="statusFilter" class="flex-grow p-2 border rounded" (change)="searchHospital()">
                    <option value="">Select Status</option>
                    <option value="looking_for_work">Looking for Work</option>
                    <option value="employed">Employed</option>
                </select>
            </div>
        </div>
        
        <div class="search-results bg-white shadow overflow-hidden rounded-lg mt-4">
            <table class="min-w-full divide-y divide-gray-200">
                <thead class="bg-purple-500 text-white">
                    <tr>
                        <th class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider">Name</th>
                        <th class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider">Location</th>
                        <th class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider">Depts. Hiring</th>
                        <th class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider"># of Contracts</th>
                        <th class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider">More Info</th>
                    </tr>
                </thead>
                <tbody class="bg-white divide-y divide-gray-200">
                    <tr *ngFor="let hospital of hospitalArray">
                        <td class="px-6 py-4 whitespace-nowrap">{{ hospital.name }}</td>
                        <td class="px-6 py-4 whitespace-nowrap">{{ hospital.location }}</td>
                        <td class="px-6 py-4 whitespace-nowrap">{{ hospital.departmentsHiring }}</td>
                        <td class="px-6 py-4 whitespace-nowrap">{{ hospital.numberOfContracts }}</td>
                        <td class="px-6 py-4 whitespace-nowrap">
                            <button (click)="showMoreInfo(hospital)" class="text-indigo-600 hover:text-indigo-900 focus:outline-none">More Info</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <button *ngIf="isHospital()" class="mt-4 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded shadow" routerLink="/hospital-form">Add Hospital</button>
        </div>
    </div>

    <div class="sidebar fixed inset-y-0 right-0 w-64 bg-white shadow-lg transform transition-transform duration-300"
    [class.translate-x-full]="!showSidebar" [class.translate-x-0]="showSidebar">
    <div class="p-4">
        <h3 class="text-lg font-semibold text-gray-800">More Hospital Info</h3>
        <ul class="mt-4">
            <li class="py-2 border-b border-gray-300">Hospital ID: {{ selectedHospital?.id }}</li>
            <li class="py-2 border-b border-gray-300">Hospital Name: {{ selectedHospital?.name }}</li>
            <li class="py-2 border-b border-gray-300">Detailed Address: {{ selectedHospital?.detailedAddress }}</li>
            <li class="py-2 border-b border-gray-300">Contact Info: {{ selectedHospital?.contactEmail }}</li>
            <li class="py-2 border-b border-gray-300">Contract Count: {{ selectedHospital?.numberOfContracts }}</li>
            <li class="flex justify-between items-center py-2">
                
            <a *ngIf="selectedHospital !== null && selectedHospital !== undefined" [routerLink]="'/editNurse/' + selectedHospital?.id" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-4 rounded">Edit</a>


                <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-1 px-4 rounded"
                    (click)="deleteHospital()">Delete Hospital</button>
            <li class="py-2">
                <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-1 px-4 rounded"
                    (click)="leaveReview()">Leave a Review</button>
            </li>
        </ul>
        <button class="absolute top-4 right-4 text-gray-600 hover:text-gray-900" (click)="showSidebar = false">
            <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M6 18L18 6M6 6l12 12" />
            </svg>
        </button>
    </div>
</div>

</div> -->
