body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    color: #333; /* Text color changed to dark for visibility without background */
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 3em; /* Makes the "About Us" text larger */
}

h2 {
    font-size: 32px; /* Adjusts the size to 32px which is often the size of a standard h1 */
    text-align: center;
}
hr {
    border: none; /* Explicitly state there's no border */
    height: 2px; /* Increase height for visibility */
    background-color: #333; /* Ensure this color contrasts with the background */
    margin-top: 20px;
    margin-bottom: 20px;
}


.ourstory{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
p {
    text-align: center;
    padding: 10px;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 30px;
}

h2 {
    color: #333;
}

.cmps {
  display: flex;
}

.infx {
  display: flex;
}

.team {
    text-align: center;
    margin-top: 10px;
    margin-left: 450px;
}

.team-member {
    text-align: center;
    margin-left: 30px;
}

.team-member img {
    padding-left: 40px;
    vertical-align: middle;
    text-align: center;
    width: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
.custom-gradient {
    background: linear-gradient(to right, #E88AB3, #F0D9FF); /* From light mulberry to light mauve */
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4; /* This will be overridden by the gradient */
    background: linear-gradient(to right, #E88AB3, #F0D9FF); /* Gradient background */
}