<body>
  <header>
      <h1>About Us</h1>
  </header>
  <hr>
  <main>
      <section>
          <h2>Our Story</h2>
          <p class="ourstory">Here at Khall Health Hiring, we understand the invaluable contributions nurses make to the healthcare industry. 
            Our journey began with a shared vision: to aid nurses by simplifying the often complex 
            process of securing contracts, showcasing credentials, and finding suitable housing arrangements. 
            Fueled by our collective passion for healthcare and technology, we embarked on a mission to 
            create a centralized platform tailored specifically for nursing professionals. Through tireless 
            dedication and collaboration, we've crafted a user-friendly space where nurses can effortlessly 
            showcase their qualifications, seamlessly navigate available contract opportunities, and explore 
            housing solutions tailored to their needs. With every milestone achieved, we remain focused on 
            our commitment to supporting the backbone of healthcare – the nurses – as they continue their 
            vital work on the frontlines. Join us in revolutionizing the nursing experience, one click at a time
</p>
      </section>
      <h2 style="text-align:center">Group 9</h2>
      <section class="team">
          <div class="infx">
              <div class="team-member">
                <img margin-left="300px" [src]="imageUrlHayden" alt="Infx 1">
                <h3 style="position: relative; top: 8px;">Hayden Koontz</h3>
                <p>Infx</p>
              </div>

              <div class="team-member" style="position: relative; top: 18px;">
                <img [src]="imageUrlLeonard" alt="Infx 2">
                <h3>Leonard Sampson</h3>
                <p style="position: relative; top: -9px;">Infx</p>
              </div>
          </div>

          <div class="cmps">
              <div class="team-member" style="position: relative; top: -10px;">
                <img [src]="imageUrlAndrew" alt="Cmps 1">
                <h3 style="position: relative; top: 5px;">Andrew Kieu</h3>
                <p>Cmps</p>
              </div>

              <div class="team-member">
                <img [src]="imageUrlLucas" alt="Cmps 2">
                <h3>Lucas Barker</h3>
                <p>Cmps</p>
              </div>

              <div class="team-member">
                <img [src]="imageUrlKobi" alt="Cmps 3">
                <h3 style="position: relative; top: 1px;">Kobi Lipari</h3>
                <p style="position: relative; top: -1px;">Cmps</p>
              </div>
          </div>

      </section>
  </main>

</body>