h1{
    text-align: center;
    font-size: 3em;
    position:relative;
    top: -32px;
    padding: 20px;
    margin-bottom: -20px;
    font-weight: bold;
    border-bottom: 2px solid black;
}
h2{
    font-size: 30pt;
    text-align: center;
}
p {
    text-align: center;
    padding: 10px;
}
section{
    padding: 40px;
    font-size: 15pt;
    background-color: #ffffff;
    margin: 20px 0;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}
.centerbox{
    margin-right: auto;
    margin-left: auto;
}
/* body {
    font-family: Arial, sans-serif;
}
.header, .main, .sidebar, .footer {
    border: 1px solid #000; 
    margin: 10px;
    padding: 10px;
}
.header, .footer {
    text-align: center;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    margin-right: auto;
}
.main {
    display: flex;
}
.content {
    flex-grow: 1;
    margin-right: 20px;
}
.sidebar {
    width: 250px; 
}
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #000; 
    text-align: left;
    padding: 8px;
}
th {
    background-color: #f2f2f2;
}
.search-section, .search-results, .more-info {
    margin-bottom: 20px;
}
.search-section input, .search-section select, .search-section button {
    margin-right: 10px;
}
.search-results table, .more-info {
    margin-top: 20px;
}
.more-info ul {
    list-style: none;
    padding: 0;
}
.more-info li {
    background-color: #f2f2f2;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
}
button {
    cursor: pointer;
}
.pinnedBox{
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid #000;
  display: flex;
  margin: 10px;
  padding: 10px;
} */